<div class="footer">
    <div class="clearfix">
        <div class="footer_left">
            <p><a href="/" target="_blank">免责声明</a></p>
            <p>关于我们</p>
            <p>官方微博  Neets小站</p>
            <p>QQ群  651724818</p>
        </div>
        <div class="footer_right">
            <div class="clearfix">
                <div class="footer_img">
                </div>
                <div class="footer_desc">
                    <p>口琴坊</p>
                    <p>公众号</p>
                </div>
            </div>
        </div>
    </div>
    <p class="links_friend">友情链接 <a href="/" target="_blank">幻音</a></p>
    <p class="footer_declaration">
        本站不提供任何视听上传服务，所有内容均引用自视频分享站点所提供的公开引用资源
    </p>
</div>