<div class="header">
    <div class="container">
        <div class="left_part">
            <div class="logo">
                <a href="/">口琴坊</a>
            </div>
            <div class="nav">
                <a href="/" class="active">首页</a>
                <a href="/">我的清单</a>
                <a href="/">分类</a>
            </div>
        </div>
        <div class="right_part">
            <div class="search_box">
                <input type="text" id="search_content" class="search_content">
                <a class="search_btn">
                    <div></div>
                </a>
            </div>
            <a class="login_btn" href="javascript:void(0)" onclick="showLoginWindow()">登录</a>
        </div>
    </div>
</div>