<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>oio</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="nav">
            <a href="#">电影</a>
            <a href="#">音乐</a>
            <a href="#">图书</a>
            <a href="#">软件</a>
            <a href="#">其它</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="content">
            <div class="searchBox">
                <input type="text" class="searchContent">
                <i class="fa fa-search searchBtn"></i>
            </div>
            
            <div class="cardList">
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">
                        
                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
                <a class="card" href="">
                    <div class="title">秀秀的铁拳</div>
                    <div class="img">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.searchContent').on('focus mouseenter', function () {
            $(this).parent('.searchBox').addClass('active')
        }).on('blur', function () {
            $(this).parent('.searchBox').removeClass('active')
        }).on('mouseleave', function () {
            if (!$(this).is(':focus')) {
                $(this).parent('.searchBox').removeClass('active')
            }
        })
    });
</script>
</body>
</html>