<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>口琴坊</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/disclaimer.css">
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
<%- include("./common/header.ejs") %>

<div class="main">
    <h4>
        免责声明
    </h4>
    <p>
        Neets上内容均由用户自主添加，链接到互联网各大站点，本小站自身不存储、控制、编辑或修改第三方视频画面及内容，所有链接内容及图文版权均归原作者及其网站所有。链接至第三方页面，可能有令人不适的内容，本站不承担任何责任。
    </p>
    <p>当权利人发现在本站中的链接所指向的内容侵犯其版权时，请权利人通知本站，提供身份证明、权属证明及详细侵权情况证明，我们将及时采取措施移除相关内容链接！如对版权存有异议请联系“neetsneets@163.com”</p>
</div>

<%- include("./common/footer.ejs") %>

</body>
</html>