* {
  box-sizing: border-box;
}
::selection {
  background: #84acb5;
  color: #fff;
}
:focus {
  outline: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  margin: 0;
  color: #333;
  background: #e5e9f0;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: top;
}
p {
  margin: 0;
}
/*header start*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 56px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.header .container {
  width: 1000px;
  margin: 0 auto;
}
.header .container .left_part {
  float: left;
}
.header .container .left_part .logo {
  font: 600 30px/30px "Comic Sans MS", arial, sans-serif;
  display: inline-block;
  font-size: 31px;
  color: #e05e53;
  line-height: 40px;
  padding: 7px 50px 9px 0;
}
.header .container .left_part .nav {
  display: inline-block;
}
.header .container .left_part .nav a {
  display: inline-block;
  padding: 20px 10px 9px 10px;
  color: #888;
}
.header .container .left_part .nav a.active {
  color: #e05e53;
}
.header .container .right_part {
  float: right;
}
.header .container .right_part .search_box {
  display: inline-block;
  width: 220px;
  margin-right: 10px;
  overflow: hidden;
  margin-top: 13px;
}
.header .container .right_part .search_box .search_content {
  background: none;
  padding-left: 5px;
  color: #888;
  float: left;
  width: 182px;
  height: 30px;
  border: 1px solid #e05e53;
  border-radius: 2px 0 0 2px;
}
.header .container .right_part .search_box .search_btn {
  cursor: pointer;
  display: block;
  width: 38px;
  height: 30px;
  background: #e05e53;
  border: 1px solid #e05e53;
  float: left;
  border-radius: 0 2px 2px 0;
}
.header .container .right_part .search_box .search_btn div {
  width: 16px;
  height: 16px;
  margin: 6px auto;
  display: block;
  background: url('../img/icon.png') -180px -270px;
}
.header .container .right_part .login_btn {
  display: inline-block;
  width: 50px;
  height: 30px;
  color: #FFFFFF;
  background: #3F7CC1;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  vertical-align: top;
  margin-top: 13px;
}
/*header end*/
/*footer start*/
.footer {
  width: 1000px;
  margin: 0 auto;
  font-size: 13px;
  color: #888;
  line-height: 20px;
  padding: 60px 0;
}
.footer a {
  color: #888;
}
.footer .footer_left {
  width: 230px;
  float: left;
  margin-left: 305px;
  line-height: 22px;
}
.footer .footer_right {
  width: 205px;
  float: left;
}
.footer .footer_right .footer_img {
  width: 86px;
  height: 86px;
  float: left;
  background: url('../img/player.png') 0 -40px;
}
.footer .footer_right .footer_desc {
  float: left;
  margin-left: 16px;
  padding-top: 27px;
}
.footer .links_friend {
  margin-top: 20px;
  text-align: center;
}
.footer .links_friend a {
  margin-left: 15px;
  color: #3F7CC1;
}
.footer .footer_declaration {
  margin-top: 10px;
  text-align: center;
}
/*footer end*/
