.main .banner {
  margin-top: 56px;
  margin-bottom: 25px;
  width: 100%;
  height: 265px;
  background: url('../img/vajqiP4.jpg') no-repeat center / cover;
  box-sizing: border-box;
  position: relative;
}
.main .banner .banner_content {
  text-align: center;
  padding-top: 60px;
}
.main .banner .banner_content .title {
  width: 429px;
  height: 38px;
  display: block;
  margin: 0 auto;
}
.main .banner .banner_content .banner_nav {
  margin-top: 35px;
  font-size: 17px;
}
.main .banner .banner_content .banner_nav a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
.main .banner .banner_content .banner_search {
  width: 440px;
  margin: 15px auto 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 15px;
}
.main .banner .banner_content .banner_search .search_content {
  width: 384px;
  height: 40px;
  padding-left: 15px;
  font-size: 14px;
  color: #999;
  border: 1px solid #e05e53;
  border-radius: 3px 0 0 3px;
  float: left;
  background: #fff;
}
.main .banner .banner_content .banner_search .search_btn {
  position: absolute;
  width: 56px;
  height: 40px;
  background: #e05e53;
  right: 0;
  top: 0;
  border: 1px solid #e05e53;
  border-radius: 0 3px 3px 0;
  float: left;
}
.main .banner .banner_content .banner_search .search_btn div {
  width: 20px;
  height: 20px;
  margin: 10px auto;
  display: block;
  background: url('../img/icon.png') -80px -270px;
}
.main .panel {
  width: 980px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 0 auto 20px;
  border-radius: 3px;
}
.main .panel .title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #DEDEDE;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
}
.main .panel .title .nav {
  float: right;
}
.main .panel .title .nav .recommend {
  display: block;
  float: right;
  font-size: 13px;
  color: #3F7CC1;
  font-weight: normal;
}
.main .panel .title .nav .recommend:hover {
  color: #23527c;
}
.main .panel .title .nav .recommend .recommend_more {
  width: 14px;
  height: 14px;
  background: url('../img/icon.png') -10px -270px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -2px;
}
.main .panel .title .nav a {
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: #888;
}
.main .panel .title .nav a.active {
  color: #e05e53;
  border-bottom: 2px solid #e05e53;
}
.main .panel .content {
  padding: 12px 15px;
}
.main .panel .content .recommend iframe {
  vertical-align: middle;
}
.main .panel .content .card {
  height: 100px;
  width: 25%;
  float: left;
  margin-bottom: 18px;
  box-sizing: border-box;
}
.main .panel .content .card.card_more {
  line-height: 100px;
  background: #F4F5F6;
  text-align: center;
  font-size: 15px;
  border-radius: 2px;
}
.main .panel .content .card.card_more a {
  color: #3F7CC1;
}
.main .panel .content .card.card_more a:hover {
  color: #23527c;
}
.main .panel .content .card.card_more a b {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background: url('../img/icon.png') -150px -270px;
}
.main .panel .content .card .img {
  float: left;
  height: 100%;
  width: 75px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  transition: all 0.25s ease;
}
.main .panel .content .card .img:hover {
  transform: scale(1.08);
}
.main .panel .content .card .img img {
  width: auto;
  min-width: 100%;
  height: 100%;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .panel .content .card .desc {
  width: 130px;
  float: left;
  margin-left: 10px;
  position: relative;
  height: 100%;
}
.main .panel .content .card .desc .title {
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0 0;
  line-height: 19px;
  height: 25px;
  max-height: 42px;
  border: none;
}
.main .panel .content .card .desc .title a:hover {
  color: #e05e53;
}
.main .panel .content .card .desc .state {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #e05e53;
}
.main .panel .content .card .desc .state.inactive {
  display: none;
}
.main .panel .content .card .desc .subcriber {
  position: absolute;
  bottom: 6px;
  left: 0;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
}
.main .panel .content .card .desc .subcriber .sub_state {
  float: left;
  background: #E05E53;
  height: 100%;
  line-height: 1;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #E05E53;
  border-radius: 2px 0 0 2px;
}
.main .panel .content .card .desc .subcriber .sub_num {
  display: inline-block;
  height: 100%;
  font-size: 12px;
  padding: 5px 4px;
  color: #E05E53;
  line-height: 1;
  border: 1px solid #E05E53;
  border-radius: 0 2px 2px 0;
}
